Repository typedb/typedb-console, pull requests merged in 2020-08, with the labels that each got.

#63 bump dependencies to released tag and bump VERSION
  VERSION
  dependencies/graknlabs/repositories.bzl
Labels: priority: high, type: build

#65 Use common 0.2.4 and bump VERSION to 1.0.9 for release
  dependencies/graknlabs/repositories.bzl
Labels: priority: high

#66 Utilise release-validate-deps rule instead of script
  .circleci/config.yml
  BUILD
  WORKSPACE
  dependencies/maven/artifacts.snapshot
Labels: priority: high, type: build

#67 Refactor: clean up to use 2.0 build dependencies
  .circleci/config.yml
  BUILD
  WORKSPACE
  dependencies/graknlabs/artifacts.bzl
  dependencies/graknlabs/repositories.bzl
  deployment.bzl
Labels: type: build

#68 Refactor WORKSPACE and add filegroup declaring CI targets
  BUILD
  WORKSPACE
  dependencies/graknlabs/artifacts.bzl
  dependencies/graknlabs/repositories.bzl
Labels: type: build
